<% if flash[:success] %>
  <div class="alert alert-primary"> <%= flash[:success] %></div>
<% end %>

<div class="card border-1 rounded border-primary">
  <div class="card-body">
    <h5 class="card-title">
      <% if user.avatar.present? %>
        <%= image_tag user.avatar, class: "avatar" %>
      <% end %>
      <%= link_to(user.name, "/users/#{user.id}", class: 'no-dec') %>
    </h5>

    <p class="card-text">
      email: <%= user.email %><br>
      age: <%= user.age %><br>
      gender: <%= user.gender %><br>
      phone_number: <%= user.phone_number %><br>
    </p>

    <% if current_user.admin? %>
      <% if !current_user?(user) && !user.admin? %>
        <%= button_to "Make Admin", {action: "make_admin", id: user.id }, method: :put, class: 'btn btn-success mt-2' %>
  <% end %>
    <% end %>
  </div>
</div>
<br>
