<h1> Edit Profile </h1><br>

<div class="list-group list-group-flush col-md-7 p-2">
  <% @user.errors.full_messages.each do |_| %>
    <%= render partial: 'shared/error_messages', locals: { object: @user } %>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="input-group flex-nowrap">
      <%= f.label :name, "Change name", class: "input-group-text" %>
      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group flex-nowrap">
      <%= f.label :email, "Change email", class: "input-group-text"%>
      <div class="col-md-8">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group flex-nowrap">
      <%= f.label :password, "Change password", class: "input-group-text"%>
      <div class="col-md-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group flex-nowrap">
      <%= f.label :age, "Change age", class: "input-group-text" %>
      <div class="col-md-8">
        <%= f.text_field :age, class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group flex-nowrap">
      <%= f.label :gender, "Change gender", class: "input-group-text" %>
      <div class="col-md-8">
        <%= f.text_field :gender, class: "form-control" %>
      </div>
    </div><br>

    <div class="input-group flex-nowrap">
      <%= f.label :phone_number, "Change phone", class: "input-group-text" %>
      <div class="col-md-8">
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>
    </div><br>

    <%= f.submit 'Edit', class: 'btn btn-primary mt-2'%> <br>
  <% end %>
</div>