<div class="row">
  <div class="col-md-5">
      <% if current_user?(@user) %>
        <div class="p-3">
          <%= button_to "Edit profile", edit_user_path, :method => :get, :form_class => "user", class: "btn btn-outline-primary" %>
        </div>
      <% end %>

      <div class="p-3">
        <%= render 'follow_form' if logged_in? %>
        <br>
        <%= render 'shared/stats' %>
        <%= render @user %>
      </div>

      <div class="p-3">
        <% if current_user?(@user) %>
          <%= render partial: 'shared/error_messages', locals: { object: @post } %>

          <%= form_with model: @post do |f|%>
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: 'Insert title' %>

            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', placeholder: 'Insert description' %>

            <%= f.submit 'Post', class: 'btn btn-primary mt-2'%>
          <% end %>
        <% end %>
      </div>

    <%# end %>
    <br>
  </div>

  <%# if @user.present? %>
    <div class="col-md-6">
      <h3> Posts (<%= @posts.count %>) </h3>
      <%= render @posts %>
      <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "paginate bg-transparent") %>
    </div>
  <%# end %>
</div>

<%= link_to('Back', '/posts', class:"btn btn-outline-secondary") %>

