<div>
  <%= link_to('Back', '/users') %>
</div>

<div class="row">
  <div class="col-md-5">
    <%# if @user.nil? %>
<!--      Nu exista user-ul.-->
    <%# else %>
      <div class="p-3">
        <%= render 'follow_form' if logged_in? %>
        <br>
        <%= render @user %>
        <%= render 'shared/stats' %>
      </div>

      <div class="p-3">
        <% if current_user?(@user) %>
          <%= render partial: 'shared/error_messages', locals: { object: @post } %>

          <%= form_with model: @post do |f|%>
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control', placeholder: 'Insert title' %>

            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', placeholder: 'Insert description' %>

            <%= f.submit 'Post', class: 'btn btn-primary mt-2'%>
          <% end %>
        <% end %>
      </div>

    <%# end %>
    <br>
  </div>

  <%# if @user.present? %>
    <div class="col-md-6">
      <h3> Posts (<%= @posts.count %>) </h3>
      <%= render @posts %>
      <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "pagination bg-transparent") %>
    </div>
  <%# end %>
</div>

