<div>
  <%= link_to('Back', '/users') %>
</div>

<div class="row">
  <div class="col-md-5">
    <% if @user.nil? %>
          Nu exista user-ul.
    <% else %>
      <%= render @user %>
    <% end %>
  </div>

  <% if @user.present? %>
    <div class="col-md-6">
      <h3> <%= @title %></h3>
      <%= render @users %>
      <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "paginate bg-transparent") %>
    </div>
  <% end %>
</div>