<div class="row p-3">
  <div class="col-md-4">
    <h3>
      There are <%= @admins.count %> admins.
    </h3>

    <%= render @admins %>
  </div>

  <div class="col-md-4">
    <h3>
      There are <%= @users.count %> users.
    </h3>

    <%= render @users %>
  </div>

  <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "paginate bg-transparent") %>
</div>

<%= link_to('Back', '/posts', class:"btn btn-outline-secondary") %>