<div class="card col-md-7 border-1 rounded border-primary">
  <div class="card-body">
    <h5 class="card-title"><%= link_to(post.title, post_path(post.id)) %></h5>

    <p class="card-text">
      Description: <%= post.description %><br>
      Posted by <%= link_to(post.user.name, post.user) %> <%= time_ago_in_words(post.created_at) %> ago <br>
      Edited <%= time_ago_in_words(post.updated_at) %> ago

    <h6> Comments (<%= post.comments.count %>) </h6>
    <ul class="list-group">
      <%= render post.comments %>
    </ul>

    <div>
      <% if current_user?(post.user) %>
        <%= link_to 'Delete', post, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
      <% end %>
    </div>

    <div>
      <% if current_user.id == post.user_id %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>
    </div>

    <br>
    <div>
      <%= form_with(model: [post, post.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.label 'New comment' %>
          <%= f.text_field :text, class: 'form-control' %>
        </div>
        <%= f.submit 'Post your comment', class: 'btn btn-primary mt-2'%>
      <% end %>
    </div>

    <br>
    <div>
      <%= link_to('Back', '/posts') %>
    </div>
  </div>
</div>
<br>