<div class="card col-md-7">
  <div class="card-body">
    <h5 class="card-title"><%= link_to(post.title, post_path(post.id)) %></h5>

    <p class="card-text">
      Description: <%= post.description %><br>
      Posted by <%= link_to(post.user.name, post.user) %> <%= time_ago_in_words(post.created_at) %> ago <br>
      Edited <%= time_ago_in_words(post.updated_at) %> ago

    <h6> Comments (<%= post.comments.count %>) </h6>
    <ul class="list-group">
      <%= render post.comments %>
    </ul>

    <% if current_user.id == post.user_id %>
      <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
  </div>
</div>