<%= render @post %>

<div class="card col-md-7">
    <div class="card-body">
      <%= form_with(model: [@post, @post.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.label 'New comment' %>
          <%= f.text_field :text, class: 'form-control' %>
        </div>
        <%= f.submit 'Post your comment', class: 'btn btn-primary mt-2'%>
      <% end %>
    </div>
</div>

<div>
  <%= link_to('Back', '/posts') %>
</div>